name: latest-lts
on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
      - name: Jenkins LTS version
        id: update
        uses: jenkins-infra/jenkins-version@0.7.0
        with:
          version-identifier: lts
      - name: Process Version
        id: process
        run: |
          SUFFIX=jdk17
          FULL_VERSION=jenkins/jenkins:${{ steps.update.outputs.jenkins_version }}-${SUFFIX}
          echo $FULL_VERSION
          sed -i 's|FROM .*|FROM '"${FULL_VERSION}"'|' Dockerfile
      - name: Calculate Diff
        id: diff
        run: |
          git diff

          if [[ $(git diff --stat) != '' ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Update
        if: ${{ steps.diff.outputs.changed == 'true' }}
        uses: jenkins-infra/uc@0.1.4
      - uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: generate-token
        with:
          app_id: ${{ secrets.JENKINS_ADMIN_APP_ID }}
          private_key: ${{ secrets.JENKINS_ADMIN_APP_PRIVKEY }}
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          commit-message: 'feat(deps): bump jenkins lts to ${{ steps.update.outputs.jenkins_version }}'
          signoff: false
          title: 'feat(deps): bump jenkins lts to ${{ steps.update.outputs.jenkins_version }}'
          branch: latest-lts
          token: ${{ steps.generate-token.outputs.token }}
